.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    max-height: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.loginBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
    width: 60%;
    max-width: 500px;
    border-radius: 10px;
    background: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.registerBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 75%;
    min-width: 250px;
    min-height: 512px;
    border-radius: 50px;
    background: #d9d9d920;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title {
    width: 70%;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 4px;
    margin-bottom: 5%;
    line-height: 45px;
    color: #fff;
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 24px;
        line-height: 25px;
    }
}

.disclaimer {
    width: 80%;
    margin-top: -2.5%;
    margin-bottom: 5%;
}

.inputDiv {
    /* width: 100%; */

    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;

    @media screen and (max-width: 500px) {
        flex-direction: column;
        margin-bottom: 2%;
    }
}

.inputDiv input {
    min-width: 50%;
    flex-shrink: 0;
    height: 59px;
    background: none;
    width: 396px;
    border-radius: 8px;
    padding: 10px;
    padding: 23px 18px 23px 18px;
}

.imageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 50%; 
    z-index: -1;
    /* border-radius: 200px; */
    padding-top: 100px;
    /* border: solid blue; */
    /* padding-left: 50px; */
    /* background-color:rgba(255, 205, 96, 0.005); */
    z-index: 2;
    padding-right: 20px;
    /* position: absolute; */
    @media screen and (max-width: 850px) {
        display: none;
    }
}

.inputField {
    font-size: 16px;
    padding: 10px;
}

.imageContainer img {
    max-width: 100%;
    /* overflow: hidden */
}

.forgotPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    color: slate;
    text-decoration: underline;
    font-size: 14px;
    width: 100%;
}

.submit {
    width: 396px;
    height: 59px;
    border-radius: 8px;
    padding: 23px 18px 23px 18px;
    cursor: pointer;
    background-color: #FDCC06;
    text-align: center;
    border: 8px;
    gap: 10px;
    font-size: 18px;
    color:#121B24;
    font-weight: 700;
}

.registerRedir {
    font-size: 14px;
    max-width: 75%;
    width: fit-content;
}

.redText {
    color: red;
}

.invisible {
    opacity: 0;
}


