.mainContainer {
    display: flex;
    align-items: center;
    gap:1%;
    justify-content: flex-start;
    height: fit-content;
    width: 100%;
    max-height: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5%;
    padding-top: 5%;
    z-index:10;
    @media screen and (max-width:850px) {
        padding: 2%;
        margin:0;
        width: 100%;
        justify-content:center;
    }
    min-width: 80%;
    /* overflow: hidden; */
}

.loginBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    align-self: flex-start;
    height: 60%;
    gap:2.5vh;
    width: 50%;
    /* max-width: 500px; */
    border-radius: 10px;
    background: none;
    padding: 0.5rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* z-index:-1; */
    z-index:0;
    order:0;
    @media screen and (max-width:850px) {
        width: 80%;
        padding-top: 10%;
        padding-left: 5%;
        padding-right: 5%;
    }
}

.registerBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 75%;
    min-width: 250px;
    min-height: 512px;
    border-radius: 50px;
    background: #d9d9d920;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title {
    width: 70%;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 4px;
    margin-bottom: 5%;
    line-height: 45px;
    color: #fff;
    /* z-index: 2; */
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 24px;
        line-height: 25px;
    }
}

.disclaimer {
    width: 80%;
    margin-top: -2.5%;
    margin-bottom: 5%;
}

.inputDiv {
    /* width: 100%; */

    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;

    @media screen and (max-width: 500px) {
        flex-direction: column;
        margin-bottom: 2%;
    }
}

.inputDiv input {
    min-width: 50%;
    flex-shrink: 0;
    height: 59px;
    background: none;
    width: 396px;
    border-radius: 8px;
    padding: 10px;
    padding: 23px 18px 23px 18px;
}

/* .imageContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: fit-content; 
    z-index: -1;
    order: 1;
    z-index: -1;
    left:50%;

    @media screen and (max-width: 850px) {
        display: none;
    }
} */

.treasurebox{
    position: fixed;
    width:120%;
    height: 120%;
    left:100%;
    top: 45%;
    transform: translate(-75vw, -50%);
    @media screen and (max-width: 850px) {
        display: none;
    }
    z-index: -10;
}

.inputField {
    font-size: 16px;
    padding: 10px;
}

.imageContainer img {
    max-width: 100%;
    /* overflow: hidden */
}

.forgotPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    color: slate;
    text-decoration: underline;
    font-size: 14px;
    width: 100%;
}

.submit {
    width: 396px;
    height: 59px;
    border-radius: 8px;
    padding: 23px 18px 23px 18px;
    cursor: pointer;
    background-color: #FDCC06;
    text-align: center;
    border: 8px;
    gap: 10px;
    font-size: 18px;
    color:#121B24;
    font-weight: 700;
}

.registerRedir {
    font-size: 14px;
    max-width: 75%;
    width: fit-content;
    align-self: center;
}

.redText {
    color: red;
}

.invisible {
    opacity: 0;
}


