.mainContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 48px;
    border-radius: 20px;
    position: relative;
    /* z-index: ; */
    /* visibility: hidden; */
    /* margin-top: 40px; */
    /* height: 100vh; */
    /* justify-content: space-around; */
    border: solid 2px rgba(253, 204, 6, 1);
    gap: 20px;
    background-color: rgba(17, 26, 35, 1);
    color: white;
}
.qNo{
    /* background-color: gold; */
    /* width: fit-content; */
    /* padding: 18px, 28px, 18px, 28px; */
    /* padding-top: 22px; */
    border-radius: 10px;
    gap: 10px;
    /* width: 169px;
    height: 70px; */
    font-weight: 700;
    font-size: 28px;
    background: none;
    text-align: left;
    color: rgba(253, 204, 6, 1);
    flex-grow: 1;
}
.descrpBox{
    /* display: flex;
    flex-direction: column; */
    /* border: solid; */
    /* margin: 5px; */
    width: fit-content;
    margin-right: 32px;
    margin-bottom: 10px;
    /* padding-left: 10px; */
    /* border: solid; */
    flex-grow: 2;
    text-align: justify;
    @media (max-width: 750px) {
        /* margin-top: 5px;
        margin-bottom: 5px; */
        /* flex-grow: 1; */
        margin: 0;
        width: 100%;
        /* margin-top: 10px; */
        /* margin-left: -10px; */
        /* width: 100%; */
        /* align-items: stretch; */
    }
    /* width:auto; */
    width: 80%;
}
.scoreBox{
    /* border: solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: fit-content;
    background-color:rgba(17, 26, 35, 1);
    /* height: 40%; */
    padding: 45px 48px 55px 48px;
    border-radius: 20px;
    min-width: 350px;
    gap: 25px;

}
.queimg{
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
    /* width: 220px;
     */
    /* width: fit-content; */
    width:max(30%, 250px);
    /* flex-grow:1; */
    /* margin-right: 20px; */
    /* height: fit-content; */
    border-radius: 20px;
    border: 1px;
    /* margin: 10px; */
    border:solid 2px rgba(253, 204, 6, 1);
    /* margin-left: 15px; */
    /* display: flex; */
    @media (max-width: 750px) {
        /* margin-top: 5px;
        margin-bottom: 5px; */
        /* flex-grow: 1; */
        margin: 0;
        margin-top: 10px;
        flex:1 ;
        /* margin-left: -10px; */
        width: 100%;
        /* align-items: stretch; */
    }
}
.ansBox{
    /* width: Fill (895px);
    height: Fill (70px);
    padding: 24px 32px 24px 32px;
    border-radius: 20px;
    border: 1px;
    gap: 10px;
    background-color: azure; */
    display: flex;
    /* border: solid ; */
    justify-content: space-between;
    /* padding-left: 15px; */
    @media (max-width: 750px) {
        flex-direction: column;
        /* align-items: stretch; */
    }
    gap:10px
    /* border: solid red; */
}

.ansText{
    background: none;
    /* width: 70%; */
    padding: 18px 10px 18px 32px;
    /* border: solid  rgba(253, 204, 6, 1); */
    border-radius: 15px;
    border: 1px;
    gap: 10px;
    flex-grow: 1;
    border: solid 2px #ffffff80;
    @media (max-width: 768px) {
        /* margin-top: 5px;
        margin-bottom: 5px; */
        /* flex-grow: 1; */

    }
    /* height: 15px; */
}
.hint{
    border-radius: 15px;
    /* border: solid 2px rgba(253, 204, 6, 1); */
    /* margin-top: 5px; */
    padding: 18px;
    background: none;
    display: flex;
    justify-content: center;
    border: solid 2px rgba(253, 204, 6, 1);
    @media (max-width: 768px) {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
        flex: 1;
        padding: auto;
    }
}
.Check{
    background-color:  rgba(253, 204, 6, 1);
    border-radius: 15px;
    /* border: solid 2px rgba(253, 204, 6, 1); */
    /* margin-top: 5px; */
    padding: 18px;
    justify-content: space-between;
    display: flex;
    color: rgba(17, 26, 35, 1);
    display: flex;
    justify-content: center;
    @media (max-width: 768px) {
        width: 100%;
    }
    /* padding: 10px; */
}
.CheckContent {
    display: flex; /* Make the content flex items */
    align-items: center; /* Align items vertically in the middle */
    gap: 8px; /* Add spacing between the image and text (adjust as needed) */
    border-radius: 20px;
  }
.questionDiv{
    display: flex;
    align-items: stretch;
    /* border: solid 2px rgba(253, 204, 6, 1); */
    @media (max-width: 750px) {
        flex-direction: column;
        /* margin-top: 10px; */
        align-items: stretch;
        /* background-color: white; */
    }
    overflow: hidden;
    justify-content: space-between;
}