.tracker {
    position: absolute;
    width: 100px;
    height: 100px;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    overflow: hidden;
    border-radius: 1000px;
    --left: max(min(calc(100vw * var(--x) - 50vw), calc(25vw - 50px)), calc(-25vw + 50px));
    --top: max(min(calc(100vh * var(--y) - 50vh), calc(25vh - 50px)), calc(-25vh + 50px));
    box-shadow: inset 0 0 35px 35px #7779;
    background: #0000;
    z-index: 1;
}

.tracker2 {
    box-shadow: unset;
    background: #fff4;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    z-index: 3;
}

@media (pointer: fine) {
    .tracker {
        transform: translate(var(--left), var(--top)) !important;
    }

    .mouse {
        display: unset;
    }

    .touch {
        display: none;
    }
}

@media (pointer: coarse) {
    .titleBox {
        position: relative;
    }

    .mouse {
        display: none;
    }

    .touch {
        display: unset;
        left: calc(50% - 50px);
        top: calc(60% - 50px);
    }
}

.out {
    --left: 0;
    --top: 10vh;
    transition: all 0.5s ease;
}

.in {
    transition: all 0.35s ease;
}
